<?php
if(!defined('MAIN_SCRIPT'))   die('Go away!');

return [
    //TODDO: add your OpenAPI API Token here, see: https://platform.openai.com/api-keys
    'apiKey' => 'sk-proj-XXXXXXXXXXX',

    // These settings work for DDEV out of the box
    'dbservername' => "db",
    'dbserverport' => "port=3306",
    'dbusername' => "db",
    'dbpassword' => "db",
    'dbname' => "db",
];